div{
    border: 3px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
}
.b{
    display: inline;
    padding-right:105px ;
}
.c{
    display: inline;

}
header{
    padding:5px ;
    margin: 5px;
    border: 3px solid black;
}
