.container{
    display:flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
}

.todo{
    background-color: white;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.in{
    display: flex;
    margin-bottom: 10px;
}

input{
    flex:1;
    padding: 10px;
}

ul {
    padding-left: 20px;
}

ul li{
    background: #f4f4f4;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 10px 10px 10px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.delete {
    color: red;
    cursor: pointer;
    font-weight: bold;
}
