*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container{
    margin: 5px;
    padding: 5px;
    background-color: cadetblue;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form{
    width: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

input{
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

#t,#p,#e{
    color: red;
    font-size: 14px;
    margin-bottom: 8px;
    height: 16px;
}
